body{
	margin: 0;
	padding: 0;
	width: 100%;
	background-color: #FFF;
}

h1 {
    font-family:"Allerta";
	font-weight:normal;
	font-size: 55px;
	text-align: center;
	color: #fff;
	margin: 0;
	padding: 0;
}

h2 {
   font-family:"Open Sans";
   font-weight: 300;
   font-size: 48px;
   text-align: center;
   margin: 0;
   padding: 0 0 40px 0;
}

h3 {
   font-family: "Open Sans";
   font-weight: normal;
   font-size: 16px;
   text-align: center;
   margin: 5px 0;
   padding: 0;
}


.center { margin: 0 auto; }
.content{ margin: 0 auto; width: 960px; }


#header {
	width: 100%;
	background: url('../img/header-bg.png');
	height: 80px;
	position: fixed;
	z-index: 2;
}

#nav { width: 600px; float: right; margin-top: 20px;}
#logo a { color: #fff; text-decoration: none; float: left; font-size: 28px; margin: 20px 0 0 20px;  color: #fff; font-family:"Allerta"; font-weight: bold; }
#nav ul{
	list-style: none;
	display: block;
	margin: 0 auto;
}

#nav li{
	z-index: 2;
	margin: 9px 10px;
	float: left;
	padding-right: 20px;
}

#nav li a { color: #fff; opacity:0.6; font-size: 16px; text-decoration: none; font-family: 'Allerta'; }
#nav li a.active { color: #fff; opacity:1; border-bottom: 2px solid #fff; }
#nav li a:hover { color: #fff; opacity:1;  }


#home, #about{ width: 100%; }
#home{
	background:url('../img/slide1.jpg') 50% 0 no-repeat fixed;
	color: #fff;
	height: 750px;
	margin: 0;
	padding: 90px 0 0 0;
	background-size: cover;
	text-align: center;
}

.date{
   font-family:"Open Sans";
   font-weight: 300;
   font-size: 48px;
   text-align: center;
}

#about{
	width: 900px;
	background-color: #FFF;
	color: #333333;
	height: 250px;
	margin: 0 auto;
	overflow: hidden;
	padding: 80px 0 140px 0;
	text-align: center;
}

#about .heading {
	font-size: 20px;
	font-weight: bold;
}

.clear {
		padding-top: 20px;
	    clear:both;

}

#schedule{
	background: url(../img/slide3.png) 50% 0 no-repeat fixed;
	color: #fff;
	height: 490px;
	padding: 90px 0 0 0;
	background-size: cover;
	line-height: 250%;
	text-align: center;
}

.wrapper_schedule {
	width: 240px;
	margin: 0 auto;
	padding-left: 40px;
	text-align: left;
}

#schedule h3 {
	text-align: left;

}

#schedule-padding {
	padding-top: 15px;
}

#sponsors{
	background-color: #FFF;
	color: #333333;
	height: 640px;
	padding: 80px 0;
	text-align: center;
}

#sponsors a {
	text-decoration: none;
	color:#05B8CC;
}

#sponsors a .hariri{
	text-decoration: none;
	color:#6F4242;
}

#sponsors a .epic{
	text-decoration: none;
	color:#D80000;
}

#sponsors a .undergradfee{
	text-decoration: none;
	color:#000;
}

#sponsors a:visited .hariri{ text-decoration: none; color:#6F4242; }

#sponsors a:visited .epic{ text-decoration: none; color:#D80000; }

#sponsors a:visited .gai{ text-decoration: none; color:#05B8CC; }

#sponsors a:visited .undergradfee{ text-decoration: none; color:#000; }

.epic {
	font-family: "Open Sans";
	font-size: 32px;
	font-weight: 300;
}

.undergradfee {
	font-family: "Open Sans";
	font-size: 32px;
	font-weight: 300;
}


.hariri {
	font-family: "Open Sans";
	font-size: 32px;
	font-weight: 300;
}

.gai {
	font-family: "Open Sans";
	font-size: 32px;
	font-weight: 300;
}

#prizes{
	background: url(../img/slide5.png) 50% 0 no-repeat fixed;
	height: 430px;
	margin: 0 auto;
	padding: 80px 0;
	color: #fff;
	background-size: cover;
}

#prizes .heading {
	font-size: 24px;
	font-family: "Open Sans";
}

#prizes h3 {
	font-size: 18px;
}

.wrapper_prizes {
	width: 1100px;
	margin: 0 auto;
}
#about .col .col-1 { float:left; width:28%; margin-left: 1% }
#about .col .col-2 { float:left; width:32%; margin-left: 4% }
#about .col .col-3 { float:right; width:34%; margin-left: 1% }

#prizes .col .col-1 { float:left; width:30%;  margin-left: 7% }
#prizes .col .col-2 { float:left; width:24%;  }
#prizes .col .col-3 { float:left; width:30%; }

/*Two column div*/
.col .col-1-2 { float:left; width:30%; padding: 0 0 0 20%; height: 120px;}
.col .col-2-2 { float:left; width:30%; padding: 0 20% 0 0; height: 120px;}

.social-links {
	text-align: center;
}

@media all and (max-width: 1000px) {
  #logo { display: none; }
}